.form{
	
	margin-top:50px;
}

.log{
	 display: inline-block;
    width: 90px;
	 color:black;
	 font-family: Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	 
}

.enviar {
    width:10%;
    padding: 15px 0;
    background: #091844;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor:pointer;
}

input {
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px;

}

.text {
    display:block;
    font-size: 20px;
    margin: 20px 0 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
}